.video_observatory {
  background-image: url(../../../images/video/poster_observatory.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}