.lead__subtitle {
  width: 60%;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  margin: 48px auto 78px;
}

@media (max-width: 1280px) {
  .lead__subtitle {
    width: 53%;
  }
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 46px auto 65px;
    width: 55%;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    width: 88%;
  }
}


@media (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin: 8px auto 32px;
  }
}
